.login-form {
    width: 100%;
}

.align-right {
    float: right;
    text-align: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.ant-divider-horizontal.ant-divider-with-text {
    font-weight: 500;
    font-size: 14px;
}

.legal-small-print{
    font-size: 10px;
    text-align: center;
    display: block;
    color: #5F5F5F;
}