#app-overlay {
    display: block;
    background: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: calc(100vh / 2 - 100px);
    opacity: 1
}

#app-overlay-spinner {
    margin: 0 auto;
    height: 201px;
    width: 201px;
    animation: rotate .8s infinite linear;
    border: 4px solid #69006b;
    border-right-color: transparent;
    border-radius: 50%
}

@keyframes rotate {

    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }

}